<a href="https://colab.research.google.com/github/Shanaces/Shandatascience/blob/main/cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas
data = pandas.read_csv("https://modcom.co.ke/data/datasets/school.csv")
data

,ids,bday,enrolldate,expgradate,Rank,Major,Gender,Athlete,Height,Weight,...,English,Reading,Math,Writing,State,LiveOnCampus,HowCommute,CommuteTime,SleepTime,StudyTime
0,43783,3/22/1995,NaN,NaN,NaN,NaN,0.0,0,72.35,NaN,...,88.24,81.50,60.02,81.44,In state,1.0,NaN,NaN,7.0,1.0
1,20278,1/1/1995,NaN,NaN,NaN,Philosophy,0.0,0,70.66,179.20,...,89.45,85.25,70.19,73.27,NaN,1.0,NaN,NaN,5.0,2.0
2,20389,12/31/1994,NaN,NaN,NaN,NaN,0.0,0,70.68,198.52,...,96.73,86.88,71.20,84.24,In state,NaN,NaN,NaN,8.0,7.0
3,22820,12/1/1994,NaN,NaN,NaN,business administration,1.0,0,NaN,198.34,...,74.06,88.68,55.89,73.16,In state,1.0,NaN,NaN,2.0,6.0
4,24559,11/10/1994,NaN,NaN,NaN,NaN,1.0,1,67.43,128.17,...,82.61,77.30,65.52,80.45,Out of state,1.0,NaN,NaN,7.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
430,34021,7/18/1987,1-Aug-2011,08-May-2017,4.0,accounting,1.0,0,NaN,NaN,...,87.72,84.99,65.31,NaN,In state,0.0,1.0,18.0,1.0,10.0
431,40697,4/29/1987,1-Aug-2011,09-May-2016,4.0,NaN,0.0,0,68.50,131.92,...,91.01,86.87,70.25,82.67,In state,0.0,3.0,26.0,6.0,15.0
432,34272,NaN,1-Aug-2011,09-May-2016,4.0,nursing,0.0,1,68.10,130.07,...,81.05,85.76,58.16,81.87,NaN,0.0,3.0,29.0,6.0,10.0
433,33628,NaN,1-Aug-2011,08-May-2017,4.0,Nursing,1.0,1,69.27,157.26,...,75.59,85.97,66.84,79.35,In state,0.0,1.0,14.0,4.0,10.0
434,39298,NaN,1-Aug-2011,08-May-2017,4.0,NaN,1.0,1,66.68,152.33,...,75.65,77.24,60.24,75.23,In state,0.0,3.0,27.0,2.0,10.0

In [ ]:
data.describe()

,ids,Rank,Gender,Athlete,Height,Weight,Smoking,Sprint,English,Reading,Math,Writing,LiveOnCampus,HowCommute,CommuteTime,SleepTime,StudyTime
count,435.000000,406.000000,426.000000,435.000000,408.000000,376.000000,411.000000,374.000000,409.000000,425.000000,422.000000,404.000000,414.000000,247.000000,247.000000,403.000000,393.000000
mean,35279.022989,2.199507,0.521127,0.422989,68.031765,181.031569,0.430657,6.581933,82.787555,82.070800,65.468009,79.521683,0.410628,2.781377,27.000000,5.461538,7.208651
std,8637.733605,1.098641,0.500141,0.494602,5.325655,42.749680,0.766324,1.227069,6.839803,7.661778,8.375930,5.511410,0.492543,0.698996,10.072905,2.421994,4.356233
min,20183.000000,1.000000,0.000000,0.000000,55.000000,101.710000,0.000000,4.503000,59.830000,55.110000,35.320000,64.060000,0.000000,1.000000,4.000000,0.000000,0.000000
25%,28001.000000,1.000000,0.000000,0.000000,64.827500,153.860000,0.000000,5.587500,78.330000,77.190000,60.202500,75.750000,0.000000,3.000000,21.000000,4.000000,4.000000
50%,35350.000000,2.000000,1.000000,0.000000,67.570000,172.960000,0.000000,6.569000,83.150000,81.940000,65.445000,79.035000,0.000000,3.000000,27.000000,5.000000,6.000000
75%,42655.500000,3.000000,1.000000,1.000000,71.575000,204.307500,1.000000,7.458000,87.170000,87.080000,70.567500,83.687500,1.000000,3.000000,32.000000,7.000000,10.000000
max,49947.000000,4.000000,1.000000,1.000000,84.410000,350.070000,2.000000,9.597000,101.950000,103.620000,93.780000,93.010000,1.000000,4.000000,64.000000,13.000000,23.000000

In [ ]:
data.dtypes

ids               int64
bday             object
enrolldate       object
expgradate       object
Rank            float64
Major            object
Gender          float64
Athlete           int64
Height          float64
Weight          float64
Smoking         float64
Sprint          float64
MileMinDur       object
English         float64
Reading         float64
Math            float64
Writing         float64
State            object
LiveOnCampus    float64
HowCommute      float64
CommuteTime     float64
SleepTime       float64
StudyTime       float64
dtype: object

In [ ]:
data.shape

(435, 23)

In [ ]:
gender=data['Gender']
gender

0      0.0
1      0.0
2      0.0
3      1.0
4      1.0
      ...
430    1.0
431    0.0
432    0.0
433    1.0
434    1.0
Name: Gender, Length: 435, dtype: float64

In [ ]:
subset=data[['Gender','Major','Math','Height']]
subset

     Gender                    Major   Math  Height
0       0.0                      NaN  60.02   72.35
1       0.0               Philosophy  70.19   70.66
2       0.0                      NaN  71.20   70.68
3       1.0  business administration  55.89     NaN
4       1.0                      NaN  65.52   67.43
..      ...                      ...    ...     ...
430     1.0               accounting  65.31     NaN
431     0.0                      NaN  70.25   68.50
432     0.0                  nursing  58.16   68.10
433     1.0                  Nursing  66.84   69.27
434     1.0                      NaN  60.24   66.68

[435 rows x 4 columns]

In [ ]:
#group data by
data.groupby(['Math']).first()

,ids,bday,enrolldate,expgradate,Rank,Major,Gender,Athlete,Height,Weight,...,MileMinDur,English,Reading,Writing,State,LiveOnCampus,HowCommute,CommuteTime,SleepTime,StudyTime
Math,,,,,,,,,,,,,,,,,,,,,
35.32,44517,3/11/1995,4-Aug-2014,11-May-2020,1.0,Environmental Science,1.0,1,66.07,137.00,...,0:07:29,69.81,70.58,70.73,In state,1.0,NaN,NaN,5.0,NaN
40.38,49155,1/13/1995,4-Aug-2014,11-May-2020,1.0,English,1.0,0,62.20,186.84,...,None,77.17,55.11,80.62,In state,1.0,NaN,NaN,8.0,3.0
44.70,48958,1/17/1990,1-Aug-2011,09-May-2016,4.0,Fein Arts,1.0,1,66.14,158.98,...,0:07:58,85.75,77.39,80.65,In state,0.0,3.0,31.0,8.0,7.0
45.79,43610,3/23/1994,4-Aug-2014,11-May-2020,1.0,Studio art,1.0,0,69.70,216.06,...,0:09:45,79.61,78.38,77.91,In state,1.0,NaN,NaN,3.0,6.0
46.14,35681,6/28/1991,6-Aug-2012,14-May-2018,3.0,Arcitecture,1.0,0,60.84,106.97,...,None,85.45,82.44,76.75,In state,0.0,3.0,29.0,9.0,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85.32,48942,1/16/1993,4-Aug-2014,13-May-2019,1.0,english composition,1.0,0,69.84,238.91,...,0:10:36,81.22,83.18,NaN,In state,0.0,NaN,NaN,NaN,9.0
85.57,47122,2/7/1992,6-Aug-2012,14-May-2018,3.0,None,1.0,0,62.01,177.30,...,0:10:38,77.71,99.35,87.08,In state,0.0,3.0,29.0,9.0,6.0
85.69,23340,11/26/1989,1-Aug-2011,08-May-2017,4.0,AstronomyÂ,1.0,1,64.46,134.77,...,0:08:11,75.05,88.79,83.22,None,0.0,3.0,19.0,4.0,8.0
86.66,44795,3/8/1987,4-Aug-2014,13-May-2019,1.0,None,1.0,0,69.94,240.42,...,0:09:23,93.00,83.23,90.94,None,1.0,NaN,NaN,5.0,5.0
93.78,26034,10/24/1990,6-Aug-2012,08-May-2017,3.0,aaaaaaaaaaaaaa,1.0,1,66.63,153.12,...,0:07:44,89.29,96.80,88.77,Out of state,0.0,3.0,22.0,7.0,10.0

In [ ]:
dataset=data.head(100)
dataset

,ids,bday,enrolldate,expgradate,Rank,Major,Gender,Athlete,Height,Weight,...,English,Reading,Math,Writing,State,LiveOnCampus,HowCommute,CommuteTime,SleepTime,StudyTime
0,43783,3/22/1995,NaN,NaN,NaN,NaN,0.0,0,72.35,NaN,...,88.24,81.50,60.02,81.44,In state,1.0,NaN,NaN,7.0,1.0
1,20278,1/1/1995,NaN,NaN,NaN,Philosophy,0.0,0,70.66,179.20,...,89.45,85.25,70.19,73.27,NaN,1.0,NaN,NaN,5.0,2.0
2,20389,12/31/1994,NaN,NaN,NaN,NaN,0.0,0,70.68,198.52,...,96.73,86.88,71.20,84.24,In state,NaN,NaN,NaN,8.0,7.0
3,22820,12/1/1994,NaN,NaN,NaN,business administration,1.0,0,NaN,198.34,...,74.06,88.68,55.89,73.16,In state,1.0,NaN,NaN,2.0,6.0
4,24559,11/10/1994,NaN,NaN,NaN,NaN,1.0,1,67.43,128.17,...,82.61,77.30,65.52,80.45,Out of state,1.0,NaN,NaN,7.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,27539,10/4/1994,4-Aug-2014,13-May-2019,1.0,Graphic Design,1.0,0,74.57,266.78,...,85.43,87.70,70.57,77.46,In state,1.0,NaN,NaN,11.0,1.0
96,49947,9/12/1994,4-Aug-2014,13-May-2019,1.0,marketting,1.0,1,68.32,160.54,...,71.12,56.53,55.43,73.56,In state,1.0,NaN,NaN,7.0,9.0
97,29516,9/10/1994,4-Aug-2014,13-May-2019,1.0,NaN,1.0,0,62.98,NaN,...,83.57,84.35,74.31,80.70,In state,NaN,NaN,NaN,NaN,NaN
98,30826,8/25/1994,4-Aug-2014,13-May-2019,1.0,NaN,1.0,1,65.62,158.96,...,86.02,79.63,74.44,83.52,In state,0.0,4.0,53.0,5.0,2.0
99,30989,8/23/1994,4-Aug-2014,11-May-2020,1.0,Undecided,1.0,1,65.05,153.82,...,90.44,87.64,82.37,NaN,NaN,0.0,3.0,36.0,5.0,1.0

In [ ]:
#check the number of males and females under gender
data.groupby(['Gender']).size()

Gender
0.0    204
1.0    222
dtype: int64

In [ ]:
#check for missing values/ inconsistent values
#we use isnull() function
#data cleaning
data.isnull().sum()

ids               0
bday              8
enrolldate       29
expgradate       29
Rank             29
Major           159
Gender            9
Athlete           0
Height           27
Weight           59
Smoking          24
Sprint           61
MileMinDur       43
English          26
Reading          10
Math             13
Writing          31
State            27
LiveOnCampus     21
HowCommute      188
CommuteTime     188
SleepTime        32
StudyTime        42
dtype: int64

In [ ]:
#create a subset with the columns to use
school_subset = pandas.DataFrame(data,columns=['ids','Major','Math','Height','Gender','Weight','Smoking','English','Reading','Athlete'])
school_subset.head()

,ids,Major,Math,Height,Gender,Weight,Smoking,English,Reading,Athlete
0,43783,NaN,60.02,72.35,0.0,NaN,0.0,88.24,81.50,0
1,20278,Philosophy,70.19,70.66,0.0,179.20,0.0,89.45,85.25,0
2,20389,NaN,71.20,70.68,0.0,198.52,0.0,96.73,86.88,0
3,22820,business administration,55.89,NaN,1.0,198.34,NaN,74.06,88.68,0
4,24559,NaN,65.52,67.43,1.0,128.17,2.0,82.61,77.30,1

In [ ]:
school_subset.shape

(435, 10)

In [ ]:
school_subset.isnull().sum()

ids          0
Major      159
Math        13
Height      27
Gender       9
Weight      59
Smoking     24
English     26
Reading     10
Athlete      0
dtype: int64

In [ ]:
# we can clean by dropping the empty cells
# you use dropna function
#school_subset.dropna(inplace=true)
#alternatively
#replace the missing values with a mean of the column
mean_height  = school_subset["Height"].mean()
mean_weight  = school_subset["Weight"].mean()
mean_smoking  = school_subset["Smoking"].mean()
mean_reading  = school_subset["Reading"].mean()
mean_math = school_subset["Math"].mean()
mean_gender  = school_subset["Gender"].mean()
mean_english  = school_subset["English"].mean()

In [ ]:
#use a function of fillna() to clean the empty cells
school_subset['Height'].fillna(value=mean_height,inplace=True)
school_subset['Weight'].fillna(value=mean_weight,inplace=True)
school_subset['Smoking'].fillna(value=mean_smoking,inplace=True)
school_subset['Reading'].fillna(value=mean_reading,inplace=True)
school_subset['Math'].fillna(value=mean_math,inplace=True)
school_subset['Major'].fillna(value='Philosophy',inplace=True)
school_subset['Gender'].fillna(value='neutral',inplace=True)
school_subset['English'].fillna(value=mean_english,inplace=True)

In [ ]:
school_subset.isnull().sum()

ids        0
Major      0
Math       0
Height     0
Gender     0
Weight     0
Smoking    0
English    0
Reading    0
Athlete    0
dtype: int64